body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
table, th, td {
    border: 1px solid #dddddd;
    border-collapse: collapse;
}
th, td {
    padding: 10px;

}
th {
    text-align: left;
}
table {
    border-spacing: 3px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin: 20px;
}
/*tr:nth-child(even) {
    background-color: #dddddd;
}*/

p{
  border:white;
}
